*,*::before,*::after{box-sizing:border-box; margin: 0; padding: 0;}
html,body{
           font-size:12px;
           font-family: 'Poppins', sans-serif;
           overflow:hidden;
           text-align:center;
           line-height:1.4;
           overflow:hidden;
           width:100%
        }
        
        
        
.code,html,body{height:100vh}
        
@keyframes charge{
        from{
             transform:translateY(2rem);
             opacity:0}
        to{
            transform:translateY(0);
            opacity:1
    }
        
    }
        
        
@keyframes wave{
              from{
                  transform:rotate(0deg)
                }
    
                to{transform:rotate(360deg)
    
             }
        }
        
        
.content{
              color:#fff;
             font-weight:300;
             padding:0 2rem
        }
        
        
        
.content,
.footer{
                width:100%;
                position:relative;
                z-index:100;
         }
        
        
.code,
.content,
.footer{
    display:flex;
    align-items:center;
    justify-content:center
        }
        
        
        
.code,
.content{
    flex-direction:column
    }
        
        
.footer{
    flex-wrap:wrap;
    max-width:600px;
    opacity:0;
    animation:charge .5s .5s forwards
    }
        
        
        
        
.subtitle,
.title{margin:0}
        
        
.footer a{
    text-decoration:none;
    width:40%;
    padding:12px 18px;
    font-size:16px;
    margin:20px auto 0 auto;
    cursor:pointer;
    color:#fff;
    border:2px solid;
    border-radius:99em;
    outline:none;
    transition:all .3s
        
}
        
        
 
        
.footer a:hover{
            background-color:#fff;
            color:#222;
            border-color:#fff;
        }
        
        
        
        .subtitle,
        .text,
        .title{
            /* backface-visibility:hidden; */
        }
        
        
        
.title{    
            font-size:6.4rem;
            font-weight:400;
            opacity:0;
            animation:charge .5s forwards
    }
        
        
        
        
.text{max-width:50rem;
                 font-weight:400;
                 padding:2rem 0;
                 font-size:1.3rem;
                 color:rgba(255,255,255,.9);
                 opacity:0;
                 animation:charge .5s .3s forwards
        }
        
        
        
.wave{
    opacity:.6;
    position:absolute;
    bottom:40%;
    left:50%;
    width:6000px;
    height:6000px;
    margin-left:-3000px;
    transform-origin:50% 48%;
    border-radius:46%;
    animation:wave 12s infinite linear;
    pointer-events:none
    }
        
        
        
.wave2{animation:wave 28s infinite linear;opacity:.3}
        
        
.wave3{animation:wave 20s infinite linear;opacity:.1}
        
.wave{background:#000}
        
.code{
    position:relative;
    background-color:#74b9ff;
    z-index:999
        }
        
.ripple{
    background-position:center;
    transition:background 0.8s
        }
        
.ripple:hover{
    background:#37474F radial-gradient(circle,transparent 1%,#263238 1%) center/15000%;
        
        }
        
        
.ripple:active{
    background-color:#37474F;
    background-size:100%;
    transition:background 0s;
    }